*{
   margin: 0;
   padding: 0; 
}


.banner{
    
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner\ Image.png');
    margin: 50px auto 120px;
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    display: flex;
    justify-content: center; 
    align-items: center;

}

.banner-text{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 165px;
}

.banner-text h3{
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    margin: 20px auto 177px;
    width: 632px;
    height: 190px;
    
}

.off{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px auto 48px;
}

.holi{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.cate{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
}

.middle{
    background: url('../images/New\ Year\ Photo.png');
    background-repeat: no-repeat;
    margin: 48px auto 120px;
    border-radius: 16px;
    width: 802.9px;
    height: 500px;
    display: flex;
    justify-content: left; 
    align-items: left;
}

.mid-party{
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    border-radius: 16px;
    margin: 120px auto;
    width: 1320px;
    height: 600px;
    /* display: flex;
    justify-content: center; 
    align-items: center;  */

}

.mid-party-text{
    position: absolute; 
    color: rgba(255, 255, 255, 0.80);
    width: 697px; 
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    letter-spacing: 0; 
    margin-left: 150px;
    margin-top: 130px;
    margin-bottom: 48px;
    
    
    
}

.mid-party-text h4{
    
    color: #FFF;
    font-family: Merriweather;
    width: 642px; 
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7.04px;
    
} 

.details{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    height: 482px;
    border-radius: 16px;
    margin: 120px auto 120px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.red{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.text{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;

}

.join{
    
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    border: none;
    color: #FFF;
    text-align: center;
    justify-content: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 16px 32px;
    margin-left: 180px;
    margin-top: 48px;
} 

