*{
   margin: 0;
   padding: 0; 
}


.banner{
    
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner\ Image.png');
    margin: 50px auto 120px;
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    display: flex;
    justify-content: center; 
    align-items: center;

}

.banner-text{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 165px;
}

.banner-text h3{
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    margin: 20px auto 177px;
    width: 632px;
    height: 190px;
    
}

.off{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px auto 48px;
}

.holi{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.cate{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
}

.middle{
    background: url('../images/New\ Year\ Photo.png');
    background-repeat: no-repeat;
    margin: 48px auto 120px;
    border-radius: 16px;
    width: 802.9px;
    height: 500px;
    display: flex;
    justify-content: left; 
    align-items: left;
}

.mid-party{
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    border-radius: 16px;
    margin: 120px auto;
    width: 1320px;
    height: 600px;
    /* display: flex;
    justify-content: center; 
    align-items: center;  */

}

.mid-party-text{
    position: absolute; 
    color: rgba(255, 255, 255, 0.80);
    width: 697px; 
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    letter-spacing: 0; 
    margin-left: 150px;
    margin-top: 130px;
    margin-bottom: 48px;
    
    
    
}

.mid-party-text h4{
    
    color: #FFF;
    font-family: Merriweather;
    width: 642px; 
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7.04px;
    
} 

.details{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    height: 482px;
    border-radius: 16px;
    margin: 120px auto 120px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.red{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.text{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;

}

.join{
    
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    border: none;
    color: #FFF;
    text-align: center;
    justify-content: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 16px 32px;
    margin-left: 180px;
    margin-top: 48px;
} 

.best-offer{
    margin-left: 140px;
}

.offer{
    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.soon{
    display: flex; 
    width: 1600px;
    
     
} 

.best-offer{
    text-align: left;
    
} 

.come{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.dolor{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 135px;
    margin-right: 800px;
}

.functional{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 640px;
    margin-bottom: 16px;
}

.holidays{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 28px;
}

.holy{
    color: #F00;
    font-family: Merriweather;
    font-size: 110px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.dolor-sit{
    color: rgba(7, 2, 17, 0.60);
    width: 1068px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; 
    margin: 28px auto 847px;

}


.gifts{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 140px;
    margin-bottom: 16px;
}

.portfolio{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-left: 140px;
    margin-bottom: 22px;
}

.domet{
    color: rgba(7, 2, 17, 0.60);
    width: 896px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    margin-left: 140px;
    margin-bottom: 48px;
}

.all-products1{
    display: flex;
}


.products1{
    background: url('../images/Rectangle\ 3.png');
    border-radius: 16px;
    width: 424px;
    height: 450px;
    margin-left: 140px;
    margin-bottom: 24px;

}

.products2{
    background: url('../images/Rectangle\ 4.png');
    border-radius: 16px; 
    width: 424px;
    height: 450px;
    margin-left: 24px;
    margin-bottom: 24px;
}

.products3{
    background: url('../images/Rectangle\ 5.png');
    border-radius: 16px; 
    width: 424px;
    height: 450px;
    margin-left: 24px;
    margin-bottom: 24px;
}


.all-products2{
    display: flex;
}

.products4{
    background: url('../images/Rectangle\ 6.png');
    border-radius: 16px; 
    width: 424px;
    height: 450px;
    margin-left: 140px;
    margin-bottom: 140px;
}

.products5{
    background: url('../images/Rectangle\ 7.png');
    border-radius: 16px; 
    width: 424px;
    height: 450px;
    margin-left: 24px;
    margin-bottom: 140px;
}

.products6{
    background: url('../images/Rectangle\ 8.png');
    border-radius: 16px; 
    width: 424px;
    height: 450px;
    margin-left: 24px;
    margin-bottom: 140px;
}

.subscribe{
    background: rgba(255, 0, 0, 0.05);
    border-radius: 16px;
    width: 1320px;
    height: 616px;
    margin-left: 140px;
    margin-bottom: 120px;
    
}

.mail{
    position: absolute;
    width: 150px;
    height: 150px;
    margin: 80px 585px 386px 585px;
}

.subs{
    position: absolute;
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin: 270px 404px 286px 404px;
}

.ipsum{
    position: absolute; 
    color: rgba(7, 2, 17, 0.60);
    width: 896px;
    text-align: center;  
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    margin: 352px 212px 200px 212px; 
}

.box{
    position: absolute;
    margin: 464px 336px 80px 370px;
}

.email{
    position: relative;
    color: rgba(7, 2, 17, 0.30);
    text-align: left;
    margin-left: 5px;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 50px 0 0 50px;
    border: none;
    background: #FFF;
    width: 340px;
    height: 50px;
    padding: 0px 25px; 
}

.subbs{
    position: relative;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin-left: -5px;
    border-radius: 0 50px 50px 0;
    border: none;
    background: #F00;
    width: 130px;
    height: 50px;
}

input[type="submit"]:hover{
    background: rgba(255, 0, 0, 0.53);
}

.big{
    position: absolute;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; 
    margin: 120px 1000px 409px 140px;
}

.call-number{
    position: absolute;
    width: 24px; 
    height: 24px;
    margin: 128px 502px 457px 1047px; 
}

.number{
    position: absolute; 
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; 
    margin: 120px 250px 450px 1080px; 
}

.world{
    position: absolute;
    width: 24px;
    height: 24px;
    margin: 168px 502px 417px 1047px; 
}

.webs{
    position: absolute;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; 
    margin: 160px 250px 409px 1080px; 
}   

.line1{
    position: absolute;
    background: rgba(255, 255, 255, 0.15);
    width: 1320px;
    height: 1px;
    margin: 250px 140px 359px 140px;
}

.fb{
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 298px 896px 247px 640px;

}

.insta{
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 298px 808px 247px 728px; 
}

.twit{
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 298px 720px 247px 816px; 
}
.ln{
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 298px 632px 247px 904px; 
}

.line2{
    position: absolute;
    background: rgba(255, 255, 255, 0.15);
    width: 1320px;
    height: 1px;
    margin: 410px 140px 199px 140px;
}

.last-line-left{
    position: absolute;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 460px 1165px 120px 140px;
}

.last-line-right{
    position: absolute;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 460px 140px 120px 1315px;
}

.foot{
    background: #070211;
    width: 1600px;
    height: 609px; 
}